 :root {
  --color-1: #ffe6d5;
  --color-2: #066906;
  --color-3: black;
  --color-4: white;
  --color-5: lightgray;
  --font-family-text: 'Anek Gurmukhi', sans-serif;
  --font-family-logo: 'Krona One', sans-serif;
  --font-family-title: 'Anek Gurmukhi', sans-serif;
  --font-size-1: 30px;
  --font-size-2: 24px;
  --font-size-3: 18px;
  --font-size-4: 15px;
  --font-size-5: 12px;
  --font-weight-1: 700;
  --font-weight-2: 400;
  --line-height-1: 1.6;

}

 * {
  /* All element's width includes padding+border */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-4);
  line-height: var(--line-height-1);
  color: var(--color-3);
  padding-top: 4rem;
}

h1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  color: var(--color-5);
}

h2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
}

a:link {
  color:var(--color-2) !important;
}

a:visited {
  color: var(--color-2) !important;
}

a:hover {
  color: var(--color-2) !important;
}

a:active {
  color:var(--color-3) !important;
}

/* navbar */

.nav-link {
  display: block;
  position: relative;
  top: 0.5rem;
  
}

.bg-light {
  background-color: var(--color-4) !important;
}

.navbar.navbar-nav {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-2);
}

footer {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-3);
  line-height: var(--line-height-1);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  margin-top: 2rem;
  
  bottom: 2rem;
  
  margin: 0 auto;
  
  width: 100%;
}

  
/* Profile  */

.profile {
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 10rem;
  background-color: var(--color-1);
  
}

.profile-portrait-box {
  text-align: right;
}

.profile__portrait {
  width: 90%;
  height: auto;
}


.bio-box {
  text-align: justify;
  display: flex;
  flex-direction: column-reverse;
  padding-right: 3rem;
} 

#bio {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-4);
  margin-bottom: 0rem;
}

#hello {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-2);
}

#projects {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  scroll-margin-top: 3.5rem;
}

/* Projects cards */


.card {
  border: none;
  margin-bottom: 2rem;
}

.card-body {
  text-align: justify;
  padding-right: 0rem;
  padding-left: 0rem;
}

.card-link {
  color:var(--color-2);
  position: absolute;
  bottom: 10px;
}

.hashtags {
  color: var(--color-5);
  margin-bottom: 1rem;
}

.open-link-icon {
  width: 20px;
  height: 20px;
}


/* About  */

#about {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  scroll-margin-top: 3.5rem;
}

.about {
  width: 100%;
  padding: 5rem;
  background-color: var(--color-1);
}

.about-text-box {
  text-align: left;
}

.about-text {
  text-align: justify;
}


.contact-box {
  display: flex;
  flex-direction: column-reverse;
} 

.contact {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-4);
}


#skills{
  list-style-type: none;
  text-align: left;
}


/* Contact */

#find-me {
  font-size: var(--font-size-4);
}

#github-icon {
  width: 45px;
  height: 45px;
}

#linkedin-icon {
  width: 50px;
  height: 50px;
}

 

#work {
  text-align: center;
}

  span {
      color: var(--secondary-color);
  }

  .button:visited {
    /* visited link */
    color: var(--text-secondary-color);
  }
  
  a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }

  a:active {
    /* selected link */
    color: var(--primary-color);
  }
  
  button,
  .button {
    border: none;
    /* takes the font from the outer container */
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);;
    color: var(--text-secondary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
  }

  button:hover, button:focus,
  .button:hover,
  .button:focus {
    cursor: pointer;
    opacity: 0.8;
  }

  .navigation-list__item--active {
    text-decoration: none;
  }



  .page-header__item {
    flex-wrap: nowrap;
    margin: 5px;
  }

  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    flex-wrap: nowrap;
  }

  .navigation-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }

  .project-cover {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .project-description {
    margin: 1rem;
    font-size: var(--font-size-5);
  }

  /* Footer  */

 

  /* start grid fallback */
  .grid__item {
  display: inline-block;
  width: 33%;
  
  
  }
  /* end grid fallback */

  @supports (display: grid) {
 

  /*.grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }*/
 }

@media all and (max-width: 575px) {

  .profile-portrait-box {
    text-align: center;
    
  }

  .bio-box {
    text-align: center;
    margin-top: 1rem;
    padding-right: 0rem;
  } 

  .bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button {
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
  }
}

@media all and (min-width: 576px) and (max-width: 750px){

  .bio-box {
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
  }

  .bio {
    text-align: center;
  }

  .card {
    margin-bottom: 2rem;
  }

}

@media all and (min-width: 1500px){
  h1 {
    font-size: 22px;
  }
}



.contact {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.about-list {
  list-style-type: none;
  text-align: center;
}

.about-list__item {
  text-decoration: none;
  text-align: center;
  margin-left: -30px;
}