 :root {
  --color-1: #ffe6d5;
  --color-2: #066906;
  --color-3: black;
  --color-4: white;
  --color-5: rgb(173, 173, 173);
  --font-family-text: 'Anek Gurmukhi', sans-serif;
  --font-family-logo: 'Krona One', sans-serif;
  --font-family-title: 'Anek Gurmukhi', sans-serif;
  --font-size-1: 30px;
  --font-size-2: 24px;
  --font-size-3: 20px;
  --font-size-4: 15px;
  --font-size-5: 12px;
  --font-weight-1: 700;
  --font-weight-2: 400;

}

 * {
  /* All element's width includes padding+border */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-4);
  line-height: var(--line-height-1);
  color: var(--color-3);
  padding-top: 4rem;
}

h1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  color: var(--color-5);
}

h2 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
}

a:link {
  color:var(--color-2) !important;
}

a:visited {
  color: var(--color-2) !important;
}

a:hover {
  color: var(--color-2) !important;
}

a:active {
  color:var(--color-3) !important;
}

/* navbar */

.nav-link {
  display: block;
  position: relative;
  top: 0.5rem;
}

.bg-light {
  background-color: var(--color-4) !important;
}

.navbar.navbar-nav {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-2);
}
  
/* Profile  */

.profile {
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 10rem;
  background-color: var(--color-1);
}

.profile-portrait-box {
  text-align: right;
  
}

.profile__portrait {
  width: 90%;
  height: auto;
}

.bio-box {
  padding-right: 10rem;
  margin-bottom: 0rem;
  
} 

#bio {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-4);
  position: absolute;
  bottom: 0rem;

}

#hello {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-2);
  color: var(--color-3);


}

#projects {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  scroll-margin-top: 3.5rem;
}

/* Projects cards */


.card {
  border: none;
  margin-bottom: 2rem;
}

.card-body {
  text-align: justify;
  padding-right: 0rem;
  padding-left: 0rem;
}

.card-text {
  color:var(--color-5);
}

span {
  color: var(--color-3);
}

.card-link {
  color:var(--color-2);
  position: absolute;
  bottom: 10px;
}

.hashtags {
  color: var(--color-5);
  margin-bottom: 1rem;
}

.open-link-icon {
  width: 20px;
  height: 20px;
}


/* About */

#about {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  scroll-margin-top: 3.5rem;
}

.about {
  width: 100%;
  padding: 5rem;
  background-color: var(--color-1);
}

.about-text-box {
  text-align: left;
}

.about-text {
  text-align: justify;
}

.contact-box {
  display: flex;
  flex-direction: column-reverse;
} 

.contact {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-4);
  text-align: center;
}

#skills{
  list-style-type: none;
  text-align: center;
}

/* Contact */

.contact-box {
  margin-top: 4rem;
  text-align: center;
}

#find-me {
  font-size: var(--font-size-5);
  text-align: center;
}

#github-icon {
  width: 45px;
  height: 45px;
}

#linkedin-icon {
  width: 50px;
  height: 50px;
  text-align: center;
}

/* Footer */

.page-footer {
  margin: 1rem;
  font-size: var(--font-size-5);
  color: var(--color-5);
  text-align: center;
}

@media all and (max-width: 575px) {

  .profile {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .profile-portrait-box {
    text-align: center;
  }

  .bio-box {
    text-align: center;
    padding-right: 0rem;
    margin: 0;
  } 

  #bio {
    position: relative;
    padding-top: 3rem;
    margin: 0 auto;
  }

  #skills{
    text-align: center;
  }
}

@media all and (min-width: 576px) and (max-width: 767px){

  .bio {
    text-align: center;
  }

  .card {
    margin-bottom: 2rem;
  }

  #skills{
    text-align: center;
  }

}

@media all and (min-width: 1500px){
  /*
  h1 {
    font-size: 22px;
  }
  */
}