 :root {
  --color-1: #ffe6d5;
  --color-2: #005500;
  --color-3: black;
  --color-4: white;
  --color-5: lightgray;
  --font-family-text: 'Anek Gurmukhi', sans-serif;
  --font-family-logo: 'Krona One', sans-serif;
  --font-family-title: 'Anek Gurmukhi', sans-serif;
  --font-size-1: 30px;
  --font-size-2: 24px;
  --font-size-3: 18px;
  --font-size-4: 15px;
  --font-size-5: 12px;
  --font-weight-1: 700;
  --font-weight-2: 400;
  --line-height-1: 1.6;

}

 * {
  /* All element's width includes padding+border */
  box-sizing: border-box;
}

 body {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3);
    line-height: var(--line-height-1);
    color: var(--color-3);
    padding-left: 8rem;
    padding-right: 8rem;
    
  }

  /* navbar */

.navbar-light .navbar-nav .nav-link {
    color: var(--color-2);
}

.navbar {
  padding-left: 2rem;
}



  header {
    font-size: var(--font-size-3);
    line-height: var(--line-height-1);
    font-family: var(--font-family-title);
    padding: 2rem;
    display: flex;
    flex: 0 1 100%;
    width: 100%;
   
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /*
  .page-content {
    justify-content: space-between;
  }
  */

  footer {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3);
    line-height: var(--line-height-1);
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
   
    margin-top: 2rem;
    
    bottom: 2rem;
   
    margin: 0 auto;
    
    width: 100%;
  }

  #find-me {
    font-size: var(--font-size-4);
  }

  #github-icon {
    width: 50px;
    height: 50px;
  }

  #linkedin-icon {
    width: 50px;
    height: 50px;
  }

  
  h1 {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
  }
  
  h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
  }
  
  h3 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
  }

  

/* Profile  */

.profile {

  width: 100%;
  height: 50rem;
  margin: 0 auto;
  display: flex;
  background-color: var(--color-1);

}

.profile-portrait-box {
  align-content: center;
  width: 50%;
}

.profile__portrait {
  width: 90%;
  height: auto;
  margin-top: 10rem;
  margin-left: 4rem;

}


.bio-box {
  margin-left: 3rem;
  margin-bottom: 5rem;
  text-align: justify;
  display: flex;
  flex-direction: column-reverse;
} 

#bio {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-4);
  
  
}

#hello {
  margin-top: 0rem;
  
}

#projects {
  padding-left: 2rem;
}

.skills{
  color: var(--secondary-color);
}

 

#work {
  text-align: center;
}

  span {
      color: var(--secondary-color);
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  a:visited {
    /* visited link */
    color: var(--primary-color);
  }

  .button:visited {
    /* visited link */
    color: var(--text-secondary-color);
  }
  
  a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }

  a:active {
    /* selected link */
    color: var(--primary-color);
  }
  
  button,
  .button {
    border: none;
    /* takes the font from the outer container */
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);;
    color: var(--text-secondary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
  }

  button:hover, button:focus,
  .button:hover,
  .button:focus {
    cursor: pointer;
    opacity: 0.8;
  }

  .navigation-list__item--active {
    text-decoration: none;
  }



  .page-header__item {
    flex-wrap: nowrap;
    margin: 5px;
  }

  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    flex-wrap: nowrap;
  }

  .navigation-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }

  .project-cover {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .project-description {
    margin: 1rem;
    font-size: var(--font-size-5);
  }

  #about {
  text-align: center;
  }

  .about-box {
    width: 25rem;
    margin: 0 auto;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    
  }

  .about-text {
    text-align: justify;
   
  }

 

  /* start grid fallback */
  .grid__item {
  display: inline-block;
  width: 33%;
  
  
  }
  /* end grid fallback */

  @supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0rem;
    margin: 0px;
    margin-bottom: 5rem;
  }

  .grid__item {
    color: var(--text-primary-color);
    /*border: 5px solid rgb(37, 209, 66);*/
    width: auto;
    min-height: auto;
    margin: 0;
  }

  /*.grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }*/
 }

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .page-header__item {
    display: block;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .profile {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__portrait {
    align-content: center;
  }

  .profile-portrait-box {
    align-content: center;
  }
  
  .button {
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 1500px){
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}



.contact {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.about-list {
  list-style-type: none;
  text-align: center;
}

.about-list__item {
  text-decoration: none;
  text-align: center;
  margin-left: -30px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}